In [4]:
#Try to extract data from index one to index 300 with a jump of 3

s = "this is My First Python programming class and i am learNING python string and its function"

In [3]:
s[1:300:3]

'h   r tnrrmglsnimeNGyosi dtfco'

In [6]:
#Try to reverse a string without using reverse function 
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [7]:
#Try to split a string after conversion of entire string in uppercase 
s.upper()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [13]:
s1=s.upper()

s1.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [10]:
#try to convert the whole string into lower case 
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [11]:
#Try to capitalize the whole string 
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [14]:
s.isalnum()

False

In [2]:
#Try to give an example of expand tab
s="xyzer\t12345\tjwjd"
s.expandtabs()

'xyzer   12345   jwjd'

In [3]:
#Give an example of strip , lstrip and rstrip

In [5]:
temp="               baby           "

temp.strip()

temp.lstrip()

temp.rstrip()

'               baby'

In [6]:
temp.lstrip()

'baby           '

In [7]:
temp.rstrip()

'               baby'

In [8]:
temp.strip()

'baby'

In [9]:
#Replace a string charecter by another charector by taking your own example 

n= "lets go for a trip"
n.replace("trip","vacation")

'lets go for a vacation'

In [21]:
#Try  to give a defination of string center function with and exmple 

text = "learning python "

text.center(25, "*")

'*****learning python ****'

In [2]:
L = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [3]:
#Try to reverse a list 

L[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [4]:
#or,
L

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [8]:
L.reverse()

In [9]:
L

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [10]:
#try to access 234 out of this list  without for/while loop

L = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [13]:
L[7][0]

234

In [12]:
234 in L

False

In [16]:
L[8]

{'key1': 'sudh', 234: [23, 45, 656]}

In [17]:
L[8].keys()

dict_keys(['key1', 234])

In [20]:
list(L[8].keys())

['key1', 234]

In [22]:
list(L[8].keys())[1]

234

In [27]:
#try to access 456 

L[5]

[23, 456, 67, 8, 78, 78]

In [28]:
L[5][1]

456

In [29]:
#Try to extract only a list collection form list L

L

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [31]:
L[5]

[23, 456, 67, 8, 78, 78]

In [32]:
L[6]

[345, 56, 87, 8, 98, 9]

In [35]:
L[5:7]

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [36]:
 #Try to extract "sudh" from list L
    
L

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [37]:
L[8]

{'key1': 'sudh', 234: [23, 45, 656]}

In [38]:
L[8]["key1"]

'sudh'

In [39]:
#Try to list all the key in dict element avaible in list  L

L[8]

{'key1': 'sudh', 234: [23, 45, 656]}

In [43]:
L[8].keys()

dict_keys(['key1', 234])

In [44]:
list(L[8].keys())

['key1', 234]

In [45]:
#Try to extract all the value element form dict available in list L
L[8].values()

dict_values(['sudh', [23, 45, 656]])

In [46]:
list(L[8].values())

['sudh', [23, 45, 656]]