In [4]:
#Try to extract data from index one to index 300 with a jump of 3

s = "this is My First Python programming class and i am learNING python string and its function"

In [3]:
s[1:300:3]

'h   r tnrrmglsnimeNGyosi dtfco'

In [6]:
#Try to reverse a string without using reverse function 
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [7]:
#Try to split a string after conversion of entire string in uppercase 
s.upper()

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [13]:
s1=s.upper()

s1.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [10]:
#try to convert the whole string into lower case 
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [11]:
#Try to capitalize the whole string 
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [14]:
s.isalnum()

False

In [2]:
#Try to give an example of expand tab
s="xyzer\t12345\tjwjd"
s.expandtabs()

'xyzer   12345   jwjd'

In [3]:
#Give an example of strip , lstrip and rstrip

In [5]:
temp="               baby           "

temp.strip()

temp.lstrip()

temp.rstrip()

'               baby'

In [6]:
temp.lstrip()

'baby           '

In [7]:
temp.rstrip()

'               baby'

In [8]:
temp.strip()

'baby'

In [9]:
#Replace a string charecter by another charector by taking your own example 

n= "lets go for a trip"
n.replace("trip","vacation")

'lets go for a vacation'

In [21]:
#Try  to give a defination of string center function with and exmple 

text = "learning python "

text.center(25, "*")

'*****learning python ****'

In [2]:
L = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [3]:
#Try to reverse a list 

L[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [4]:
#or,
L

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [8]:
L.reverse()

In [9]:
L

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [10]:
#try to access 234 out of this list  without for/while loop

L = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [13]:
L[7][0]

234

In [12]:
234 in L

False

In [16]:
L[8]

{'key1': 'sudh', 234: [23, 45, 656]}

In [17]:
L[8].keys()

dict_keys(['key1', 234])

In [20]:
list(L[8].keys())

['key1', 234]

In [22]:
list(L[8].keys())[1]

234

In [27]:
#try to access 456 

L[5]

[23, 456, 67, 8, 78, 78]

In [28]:
L[5][1]

456

In [29]:
#Try to extract only a list collection form list L

L

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [31]:
L[5]

[23, 456, 67, 8, 78, 78]

In [32]:
L[6]

[345, 56, 87, 8, 98, 9]

In [35]:
L[5:7]

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [36]:
 #Try to extract "sudh" from list L
    
L

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [37]:
L[8]

{'key1': 'sudh', 234: [23, 45, 656]}

In [38]:
L[8]["key1"]

'sudh'

In [39]:
#Try to list all the key in dict element avaible in list  L

L[8]

{'key1': 'sudh', 234: [23, 45, 656]}

In [43]:
L[8].keys()

dict_keys(['key1', 234])

In [44]:
list(L[8].keys())

['key1', 234]

In [45]:
#Try to extract all the value element form dict available in list L
L[8].values()

dict_values(['sudh', [23, 45, 656]])

In [46]:
list(L[8].values())

['sudh', [23, 45, 656]]

In [11]:
#print this pattern
#q1 :
#ineruon 
#ineruon ineruon 
#ineruon ineruon ineruon
#ineruon ineruon ineruon ineruon

n=4
for i in range(0,4):
    for j in range(0,i+1):
        print("ineoron", end=" ")
    print("\n")

ineoron

ineoron ineoron

ineoron ineoron ineoron

ineoron ineoron ineoron ineoron

In [12]:
row = int(input("Please enter how many rows you want to print: "))
print()
for i in range(row):
    print("ineuron "*(i+1))

Please enter how many rows you want to print: 7

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron ineuron ineuron

In [16]:
#q2 - 

#         ineruon
#    ineruon      ineruon
#ineruon		ineruon 	ineruon
#	ineruon		 ineruon
#		  ineruon

for i in range(6):
    if i<=3:
        n=i
    else:
        n=6-i
    print(("ineoron "*n).center(50,' '))

                     ineoron
                 ineoron ineoron
             ineoron ineoron ineoron
                 ineoron ineoron
                     ineoron

In [17]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [21]:
#q3 : Try to extract all the list entity 

type(l)

list

In [24]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [25]:
#Try to extract all the dict enteties

for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [26]:
#q5 : Try to extract all the tuples entities

for i in l:
    if type(i)== tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [34]:
#q6 : Try to extract all the numerical data it may b a part of dict key and values

L1= []
for i in l:
    if type(i)== list or type(i)==dict or type(i)==set:
        for j in i:
            if type(j)== int:
                L1.append(j)

In [35]:
L1

[1, 2, 3, 4, 45, 4, 5, 23, 3, 7]

In [36]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [41]:
#q6 : Try to extract all the numerical data it may b a part of dict key and values

L1= []
for i in l:
    if type(i)== list or type(i)==set or type(i)== tuple:
        for j in i:
            if type(j)== int:
                L1.append(j)

In [42]:
L1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23]

In [43]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                l1.append(j)
    if type(i) == dict :
        for k in i.items() : 
            for g in k :
                if type(g) == int :
                    l1.append(g)

In [44]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [45]:
d={'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8}

In [46]:
d.items()

dict_items([('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)])

In [49]:
#Try to give summation of all the numeric data 
sum(l1)

156

In [50]:
#Try to filter out all the odd values out all numeric data which is a part of a list 

l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [51]:
for i in l1:
    
    if i % 2 == 0:
        pass
    else:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

In [55]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [58]:
#Try to extract "ineruon" out of this data

l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if j == 'ineuron' :
                l1.append(j)
    if type(i) == dict :
        for k in i.items() : 
            for g in k :
                if g == 'ineuron' :
                    l1.append(g)

In [59]:
l1

['ineuron', 'ineuron']

In [61]:
#Try to find out a number of occurances of all the data 

l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [62]:
l1 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int or type(j) == str:
                l1.append(j)
    if type(i) == dict :
        for k in i.items() : 
            for g in k :
                if type(g) == int  or type(g) == str:
                    l1.append(g)

In [63]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [64]:
set(l1)

{1,
 2,
 23,
 3,
 4,
 45,
 5,
 6,
 7,
 8,
 'data science ',
 'ineuron',
 'k1',
 'k2',
 'k3',
 'kumar',
 'sudh'}

In [68]:
for i in set(l1):
    print(i, ":", l1.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k1 : 1
sudh : 1
ineuron : 2
kumar : 1
8 : 1
45 : 1
data science  : 1
23 : 1
k2 : 1
k3 : 1